.pytest_cache/
__pycache__/

# esp-idf built binaries
build/
build_*_*/
sdkconfig

# idf-ci build run output
build_summary_*.xml
app_info_*.txt
size_info_*.txt

# pytest-embedded log folder
pytest_embedded_log/

# idf-component-manager output
dependencies.lock

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode